
.Contaners{
    text-align: center;
   
}
body, html {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center; 
    background-color: aqua;
}
#game-board {
    size: 300px;
    display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 40px;
    
}
.cell {
    display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0px 2px rgb(0 0 0 / 7%), 0 5px 6px rgb(0 0 0 / 16%);
	height: 100px;
                
				background-color: #ffe186;

}
